#posts_wrapper_profile{
    margin-left: 20%;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 1140px;
    width: 55%;
    border: 1px solid #ada9a9;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: none;
}
#posts_wrapper_profile::-webkit-scrollbar{
    width: 0;
}
#profile_wrapper{
    margin-left: 20%;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1140px;
    width: 55%;
    border: 1px solid #ada9a9;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 1;
    height: 18vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
}
.profile_post{
    border: 1px solid black;
    width: 80%;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ada9a9;
    border-radius: 4px;
    text-decoration: none;
}
.user_reference_inactive{
    color: rgb(95, 95, 95) !important;
    text-decoration: none;
}
.user_reference_inactive:hover{
    text-decoration: underline;
}
.profile_nickname_pole{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.profile_nickname{
    font-size: 30px;
    text-align: start;
}
.profile_avatar_pole{
    margin-left: 20px;
}
.profile_avatar{
    width: 125px;
    height: 125px;
}
.circle{
    width: 125px;
    height: 125px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start_message_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}
.start_message_button{
    background-color: #0079d3;
    border-radius: 100px;
    width: 150px;
}
.edit_profile_global_wrapper{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.edit_profile_form_wrapper{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid #ada9a9;
    margin-top: 75px;
    
}
.edit_profile_wrapper{
    width: 30%;
    margin-top: 30px;
}
.edit_profile_header{
    padding-bottom: 5px;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 0;
}
.avatar_pick{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
#clear_file_profile_button{
    height: fit-content;
}
.file.optional.profile_avatar{
    height: auto;
    width: -moz-available;
    width: -webkit-fill-available;
    padding-right: 5px;
}
#profile_file_input{
    width: 100%;
}
#profile_nick_name{
    margin-bottom: 50%;
}
